.imagen-cart{
    height: 100px;
    width:auto;
    padding-right: 30px;
}

.media{
    width: 50px;
    min-width: 50px;
}

.trash-icon{
    cursor:pointer;
}

.trash-icon:hover{
    color:#DCAA22;
}
