.stock{
    color:#6d8c8e;
}

.counter{
    border: 1px solid #ddd;
    border-radius:50px;
    align-items: center;
    padding:12px 15px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin:0 15px 10px;
    max-width:170px;
}

.addCart-btn{
    font-size:13px;
    height: 60px;
    min-width:130px;
}

 .counter-bttn{
    align-items: center;
    background-color:#6d8c8e;
    border-color: #6d8c8e;
    border-radius: 10px;
    display:flex;
}

.counter-bttn:hover{
    background-color:#7c9da0;
    border-color: #7c9da0;
    transition: 0.2s ease-in-out;
}

.noShadow:focus {
    box-shadow: none;
}

.quantity{
    font-size: 16px;
    padding:5px 13px;
    margin: 0;
}


