.card a:hover{
    text-decoration:none;
}

.card{
    border: none;
    cursor: pointer;
    height: 510px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 260px;
    min-width:260px;
    overflow: hidden;
}

.card:hover{
    box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.38);
    transition:.2s ease-out;
}

.img-wrapper{
    height:387px;
    position: relative;
}

.card img{
    height: 387px;
    object-fit: cover;
}

.img-overlay{
    background: #6d8c8ee1;
    bottom:0;
    color: red;
    left:0;
    list-style-type: none;
    margin: 0;
    opacity: 0;
    padding:30px 5px;
    position: absolute;
    transition: all .48s ease;
    visibility: hidden;
    width:100%;
}

.img-wrapper:hover .img-overlay{
    opacity: 0.6;
    visibility: visible;
}

.bttn-overlay{
    background:none;
    border: none;
}

.bttn-overlay:hover{
    background-color:#475A5C;
}

.card-title{
    color:#6d8c8e;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.card-title:hover{
    color:#475A5C;
    transition:all .48s ease;
}

.price{
    color:#6d8c8e;
}