*{
    font-family: 'Ubuntu', sans-serif;
}

#greeting{
    color:#6d8c8e;
    padding:20px 34px;
    background-color: #ebebeb;
}

.greeting-title{
    font-size:18px;
}

.greeting-txt{
    font-size:16px;
}