#header-area{
    width: 100%;
    position: relative;
    z-index: 9;
    box-shadow: 0px 10px 27px 3px rgba(221,221,221,0.3);
}

#header-area .navbar{
    background:#6d8c8e;
    padding:0;
    opacity:0.9;
}

#header-area .container{
    padding-right: 15px;
}

.logo img{
    width:70px;
    height: 50px;
}

.navbar-brand{
    background-color:#475A5C;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #DCAA22;
}

.navbar-dark .navbar-nav .nav-link.active{
    color: #DCAA22;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
    outline: none;
}

.navbar-collapse{
    padding-left:15px;
}

.dropdown-menu{
    background-color:#6d8c8e;
    border: none;
}

.dropdown-item{
    color:#A9D8DB;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: #6d8c8e;
    color: #DCAA22;
}

.dropdown-item:hover{
    color:#DCAA22;
    background:none;
    transition: 0.1s ease-in-out;
}


@media (min-width:992px){
    .navbar{
        height: 60px;
    }
    .logo{
        display:block;
        position: absolute;
        z-index: 2;
        top:0;
        left:0;
    }
    .logo img{
        width:100px;
        height: 70px;
    }
}